<VirtualHost *:{{ httpd_port }}>

	ServerName {{ item.1 }}

	<LocationMatch "^/(.*\.php(/.*)?)$">
		ProxyPass fcgi://127.0.0.1:{{ ( php_fpm_port_start | int ) + ( item.0 | int )}}{{ httpd_documents_directory }}/{{ item.1 }}/htdocs/$1
	</LocationMatch>

	DocumentRoot {{ httpd_documents_directory }}/{{ item.1 }}/htdocs
	<Directory {{ httpd_documents_directory }}/{{ item.1 }}/htdocs>
	    AllowOverride All
	 	Require all granted
	 	Options +FollowSymLinks
	</Directory>

	# Logging
    ErrorLog "{{ httpd_documents_directory }}/{{ item.1 }}/logs/error.log"
    CustomLog "{{ httpd_documents_directory }}/{{ item.1 }}/logs/access.log" common
    SecDebugLog "{{ httpd_documents_directory }}/{{ item.1 }}/logs/modsec_debug.log"
    SecAuditLog "{{ httpd_documents_directory }}/{{ item.1 }}/logs/modsec_audit.log"

</VirtualHost>
