<VirtualHost *:{{ httpd_port }}>

	ServerName {{ item }}

	DocumentRoot {{ httpd_documents_directory }}/{{ item }}/htdocs
	<Directory {{ httpd_documents_directory }}/{{ item }}/htdocs>
	    AllowOverride All
	 	Require all granted
	</Directory>

	# Logging
    ErrorLog "{{ httpd_documents_directory }}/{{ item }}/logs/error.log"
    CustomLog "{{ httpd_documents_directory }}/{{ item }}/logs/access.log" common
    SecDebugLog "{{ httpd_documents_directory }}/{{ item }}/logs/modsec_debug.log"
    SecAuditLog "{{ httpd_documents_directory }}/{{ item }}/logs/modsec_audit.log"

</VirtualHost>
