# build
httpd_sources_ftp: http://ftp.ps.pl/pub/apache//
httpd_apache_version: 2.4.12
httpd_apr_version: 1.5.2
httpd_apr_util_version: 1.5.4
httpd_installation_path: /usr/local/apache2

# configure
httpd_group: "{{ www_group }}"
httpd_user: apache
httpd_pid_file: /var/run/httpd.pid
httpd_documents_directory: "{{ websites_directory }}"
example_domain: example.com

# httpd.conf file
httpd_port: 80
httpd_server_name: apache

# mpm
httpd_mpm_start_servers: 2
httpd_mpm_min_spare_threads: 2
httpd_mpm_max_spare_threads: 4
httpd_mpm_threads_per_child: 30
httpd_mpm_max_request_workers: 300
httpd_mpm_max_connections_per_child: 0

# logrotate
httpd_logrotate_rotate_number: 5
httpd_logrotate_period: daily
httpd_logrotate_size: 128M

# mod_security
httpd_mod_security_version: 2.9.0
httpd_mod_security_installation_path: /usr/local/modsecurity
httpd_owasp_rules_directory: "{{ httpd_installation_path }}/conf/crs"