 - name: create vhosts directory
   file:
     path: "{{ httpd_installation_path }}/conf/vhosts"
     state: directory
     mode: 0775
     owner: "{{ httpd_user }}"
     group: "{{ httpd_group }}"
   tags:
     - httpd
     - vhosts


 - name: create htdocs directory for virtual hosts
   file:
     path: "{{ httpd_documents_directory }}/{{ item }}/htdocs"
     state: directory
     owner: "{{ httpd_user }}"
     group: "{{ httpd_group }}"
     mode: 2775
     recurse: yes
   with_items:
     - "{{ websites }}"
   tags:
     - httpd
     - vhosts


 - name: create logs directory for virtual hosts
   file:
     path: "{{ httpd_documents_directory }}/{{ item }}/logs"
     state: directory
     owner: "{{ httpd_user }}"
     group: "{{ httpd_group }}"
     mode: 0775
     recurse: yes
   with_items:
     - "{{ websites }}"
   tags:
     - httpd
     - vhosts


 - name: place vhost file in vhosts directory
   template:
     src: example.com.conf.j2
     dest: "{{ httpd_installation_path }}/conf/vhosts/{{ item.1 }}.conf"
     owner: "{{ httpd_user }}"
     group: "{{ httpd_group }}"
     mode: 0644
   notify: restart httpd
   with_indexed_items:
     - "{{ websites }}"
   tags:
     - httpd
     - vhosts


 - name: place symlinks to websites in developer account home directory
   file:
     src: "{{ httpd_documents_directory }}/{{ item }}"
     dest: "/home/{{ developer_user }}/{{ item }}"
     owner: "{{ developer_user }}"
     group: "{{ developer_user }}"
     state: link
   with_items:
     - "{{ websites }}"
   tags:
    - httpd
    - vhosts